# 
#  .gitignore
#  ObjectModel
#  
#  Created by Alexander Rudy on 2011-10-07.
#  Copyright 2011 Alexander Rudy. All rights reserved.
# 

# Compiled Python Files
*.pyc

# Development
TODO/*
cover/*

# Distribution
*.egg-info
*.egg
dist/*
build/*

# Buildout
bin/*
develop-eggs/*
parts/*
eggs/*
.installed.cfg

# Ephemeral Files
Logs/*
Caches/*
Data/*

# Documentation
Docs/build/*

# TESTS
.noseids
.coverage
experiment.py
